@using EntitiesCL;
@model Institution
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />
Institution ID : @(Model.InstitutionId)
<hr />
Institution Name : @(Model.Name)
<hr />
Institution Address : @(Model.Address)
<hr />
Institution Telephone : @(Model.Telephone)